# Editor configuration, see https://editorconfig.org
root = true

[*]
end_of_line = lf
charset = utf-8
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.{yaml,yml}]
indent_size = 4
indent_style = space
max_line_length = off

[*.java]
wildcard_import_limit = 999
indent_size = 4

[*.{ts,js}]
quote_type = auto
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

[*.json]
quote_type = double
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

[{*.go,go.mod}]
end_of_line = lf
charset = utf-8
indent_style = tab
indent_size = 4

[*.{md,txt}]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.mmd]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.cs]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.dsl]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120
